{{> header}}
<div class="container">
    <div class="row">

        <div class="col-md-8">

<h1>{{actors.name}}</h1>
            <h1>{{actors.movie}}</h1>
<h1>{{actors.quotes}}</h1>
<img src = "{{actors.images}}" class="img-fluid" alt="tommmmm">
            <p>{{actors.details}}</p>

        </div>
        <div class="col-sm-3">
            {{> popularMovies}}
        </div>
    </div>
</div>
